@import url(reset.css);

body{
	background: url(../img/main-bg.jpg) fixed;
	background-size: cover;
   color: #fff;
   font: 1em/1.6em Roboto, Arial, sans-serif;
   
   
}

header {
	background: url(../img/main-bg.jpg) center no-repeat;
   background-size: cover;
   text-align: center;
   text-shadow: 1px 1px 2px #000;
}

nav {
	padding-top: 20px;
	display: block;
}

nav ul li {
	display: inline-block;
	float: right;
	padding-right: 20px;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
   text-align: center;
   margin: 0;
   line-height: 1.1em;
	padding: 320px 0 320px 0;
}

h3 {
	font-size: 2em;
	color: #6C615E;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.dbg {
	background:rgba(40, 76, 88, 0.498039);
}

.logo {
	float: left;
}

.content {
	background: #fff;
	color: #000;
}

.phrase {
	color: #fff;
	font-size: 2.5em;
	text-align: center;
}

.footer {
	height: 100px;
	background: #fff;
	color: #000;
}

.h3-title {
	text-align: center;
	font-weight: normal;
	padding: 20px 0 20px 20px;

}

.old {
	float: left;
	border-radius: 50%;
	margin: 0 20px 50px 50px;;
}

.text {
	display: block;
	width: 840px;
	float: right;
	margin-right: 50px;
	padding-top: 40px;
}

.test {
	padding: 150px 0; 
}

.main-phrase {
	padding-top: 130px;
}

.author {
	text-align: right;
	margin-top: 30px;
   padding-bottom: 150px;
	padding-right: 50px;
}