@import url(reset.css);

body{
	background: url(../img/main-bg.jpg) fixed;
	background-size: cover;
   color: #fff;
   font-size: 1.2em; 
   font-family: 'Raleway', Arial, sans-serif;
}

header {
	background: url(../img/main-bg.jpg) center no-repeat;
   background-size: cover;
   text-align: center;
   text-shadow: 1px 1px 2px #000;
}

section {
	background: #fff;
}

nav {
	display: block;
	float: right;
	padding: 20px 20px 0 0;
}

img{
  max-width: 100%;
}
	
nav ul li {
	display: inline-block;
}

nav ul li a {
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 20px;
	font-size: 0.8em;
}

nav ul li a:hover {
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 20px;
}


h1 {
	font-size: 2.5em;
	font-weight: normal;
   text-align: center;
   margin: 0;
   line-height: 1.1em;
	padding: 370px 0 370px 0;
}

h3 {
	font-size: 2em;
	color: #6C615E;	
}

a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	display: block;
}

footer ul li {
	display: inline-block;	
}

.clear {
	clear: both;
}

.dbg {
	background:rgba(40, 76, 88, 0.498039);
}

.logo {
	float: left;
}

.content {
	background: #fff;
	margin: 0 auto;
	color: #000;
	max-width: 1370px;
}

.phrase {
	color: #fff;
	font-size: 2.5em;
	text-align: center;
}

.h3-title {
	text-align: center;
	font-weight: normal;
	padding: 30px 0 30px 20px;

}

/* Styles for images*/
.old, .sport, .place {
	float: left;
	border-radius: 50%;
	margin: 0 40px 50px 10px;
}


.kovali, .people {
	float: right;
	border-radius: 50%;
	margin: 0 10px 50px 20px;
}


/* ***************  */
.text {
	padding-top: 30px;
	font-weight: 800;
}

.main-phrase {
	padding-top: 130px;
}

.author {
	text-align: right;
	margin-top: 30px;
   padding-bottom: 150px;
	padding-right: 50px;
}

.footer {
	background: #F0F6FC;
	height: 100px;
	background: #fff;
	color: #000;
}

.social {
	padding-top: 30px;
	float: left;
	margin-left: 30px;
}

.team {
	float: right;
	padding: 50px 65px 0 0;
	color: #6C615E;
	font-size: 1em;
	font-weight: 800;
}

.team a {
	color: #6C615E;
	display: inline-block;
	padding: 0;
}

/* Media */

@media screen and (max-width: 1380px) {
	.content {
		margin: 0 40px;
	}
}

@media screen and (max-width: 1065px) {
	.content {
		margin: 0 40px;
		padding-bottom: 20px;
	}

	.phrase {		
		font-size: 2em;
		text-align: center;
	}
}

@media screen and (max-width: 960px) {
	h1 {
		font-size: 2em;
		font-weight: normal;
	   text-align: center;
	   margin: 0 40px;
	   line-height: 1em;
		padding: 320px 0 260px 0;
	}

	nav ul li {
		display: inline-block;
		font-size: 0.6em;	
	}
}

@media screen and (max-width: 590px){

	.content {
		margin: 0 40px;
	}

	.footer {	
		height: 120px;	
	}

	.social {
		padding-top: 20px;
		float: none;
		margin-left: 10px;
	}

	.team {
		float: right;
		padding: 0 30px 0 0;
		color: #6C615E;
		font-size: 1em;
	}	
} 

@media screen and (max-width: 520px) {
	.footer {	
		height: 120px;	
	}

	.social {
		padding-top: 20px;
		float: none;
		margin-left: 10px;
	}

	.team {
		float: right;
		padding: 0 30px 0 0;
		color: #6C615E;
		font-size: 0.6em;
	}	

}