@import url(reset.css);

body{
	background: #fff;
	background-size: cover;
   font-size: 1.2em; 
   font-family: 'Philosopher', Arial, sans-serif;
}

header {
	background: rgba(1, 97, 187, 0.9);
   text-shadow: 1px 1px 2px #000;

}

section {
	background: #fff;
	height: 600px;
}

nav {
	display: block;
		float: right;
		margin-top: 10px;
		padding: 20px 20px 0 0;
}

img{
  max-width: 100%;
}
	
nav>ul>li {
		display: inline-block;
	}

nav ul li a {
	border: 2px solid rgba(255, 255, 255, 0.33);
		border-radius: 15px;
		font-size: 0.8em;
}

a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	display: block;
}

nav ul li a:hover {
	color: #fff;
		text-decoration: none;
		border: 2px solid #fff;
		border-radius: 15px;
}


footer {
	border-top: 2px solid #6C615E;
	border-bottom: 3px solid #6C615E;
	margin-top: 200px;
}

footer ul li {
	display: inline-block;	
}
.footer {
		background: #F0F6FC;
		height: 100px;
		background: #fff;
		color: #000;
	}
	.social {
		padding-top: 30px;
		float: left;
		margin-left: 30px;
	}
	.team {
		float: right;
		padding: 50px 65px 0 0;
		color: #6C615E;
		font-size: 1em;
		font-weight: 800;
	}

	.team>a {
		color: #6C615E;
		display: inline-block;
		padding: 0;
	}

.clear {
	clear: both;
}

.dbg {
	background:rgba(40, 76, 88, 0.498039);
}

.logo {
	float: left;
     width: 154px;
	 height: 115px;

}



/* Styles for images*/


/* ***************  */



.photo {
	float: left;
	border: 5px solid #9A9696;
	border-radius: 50%;
	width: 300px;
	margin-top: 70px;
}
.photo:hover {
	
	border:5px solid #134C81;
	
}
	

h3{
	color: #000;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.text_content{
	margin-left: 350px;
	margin-top: 30px;
	margin-right: 50px;
	}
	.text_content1{
		margin-left: 50px;
		margin-top: 30px;
		margin-right: 350px;
	}
	#clickme{
		color: blue;
		cursor: pointer;
	}
	.flex_parent{
		display: flex;
		flex-direction: column;
	}
	article{
		margin-top: 50px;
	}
	.viva_align{
		margin-top: 120px;
}
.read_forward {
	cursor: pointer;
	font-weight: bold;
	color: blue;
    }
.container {
	display:none;
}
.map{
	float: right;
}
/* Media */