@import url(reset.css);

body{
	background: #fff;
	background-size: cover;
   font-size: 1.2em; 
   font-family: 'Philosopher', Arial, sans-serif;
}

header {
	background: rgba(1, 97, 187, 0.9);
   text-shadow: 1px 1px 2px #000;

}

.menu {
		display: block;
		float: right;
		margin-top: 10px;
		padding: 25px 20px 0 0;
	}
		
	.menu>ul>li {
		display: inline-block;
	}

	.menu>ul>li>a {
		border: 2px solid rgba(255, 255, 255, 0.33);
		border-radius: 15px;
		font-size: 0.8em;
		text-decoration: none;
		padding: 5px 20px;
		display: block;
		color: #fff;
	}

	.menu>ul>li>a:hover {
		color: #fff;
		text-decoration: none;
		border: 2px solid #fff;
		border-radius: 15px;
	}


section {
	background: #fff;
	height: 600px;
}

nav {
	display: block;
		float: right;
		margin-top: 10px;
		padding: 20px 20px 0 0;
}

img{
  max-width: 100%;
}
	
nav>ul>li {
		display: inline-block;
	}

nav ul li a {
	border: 2px solid rgba(255, 255, 255, 0.33);
		border-radius: 15px;
		font-size: 0.8em;
}

a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	display: block;
}

nav ul li a:hover {
	color: #fff;
		text-decoration: none;
		border: 2px solid #fff;
		border-radius: 15px;
}


footer {
	border-top: 2px solid #6C615E;
	border-bottom: 3px solid #6C615E;
	margin-top: 250px;
}

footer ul li {
	display: inline-block;	

}
.footer {
		background: #F0F6FC;
		height: 100px;
		background: #fff;
		color: #000;
		width: 100%;
		
	}
	.social {
		padding-top: 30px;
		float: left;
		margin-left: 30px;
	}
	.team {
		float: right;
		padding: 50px 65px 0 0;
		color: #6C615E;
		font-size: 1em;
		font-weight: 800;
	}

	.team>a {
		color: #6C615E;
		display: inline-block;
		padding: 0;
	}

.clear {
	clear: both;
}

.dbg {
	background:rgba(40, 76, 88, 0.498039);
}

.logo {
	float: left;
     width: 154px;
	 height: 115px;
    padding-left: 15px;
}



/* Styles for images*/


/* Aside bar */	

aside {
	
	margin: auto;
	flex-basis: 20%;
	height: 150px;
	
}



	.category>ul>li>a {
		color: #6C615E;
		text-decoration: none;
		
	}

	.widget {
		/*text-align: center;*/
		margin-bottom: 75px;
	}
	
	.widget>h2 {
		text-transform: uppercase;
		padding: 10px 20px;
		text-decoration: underline;
		margin-bottom: 20px;	
		/*text-align: center;*/	
	}
	
	.search {
		color: #b9b9b9;
		font-size: 0.75em;
		border: 1px solid #e1e0e0;
		padding: 10px 15px;
	}

	


	.widget>img {
		width: 80%;
		margin: 15px;
	}

	.name, .surname, .email, {
		color: #b9b9b9;
		font-size: 0.75em;
		border: 1px solid #e1e0e0;
	}

	input[type="text"], 
	input[type="email"] {
	   padding: 10px 15px;
	   margin-bottom: 10px;
	   font-size: 0.75em;
	}
   
   input[type="button"] {
		color: #6C615E;
		font-size: 0.75em;
   }

/* ***************  */



.photo {
	float: right;
	border: 5px solid #9A9696;
	border-radius: 50%;
	width: 200px;
	margin: 20px;
	
}
.photo:hover {
	
	border:5px solid #134C81;
	
}
	

h3{
	color: #000;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.text_content{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
    margin: 20px;
	}
	
	#clickme{
		color: blue;
		cursor: pointer;
	}
	.flex_parent{
		display: flex;
		flex-flow: row wrap;
		
		
		
	}
	.flex_child{
		flex-basis: 70%;
		
		
		
	}
	article{
		margin-top: 50px;
	}
	.viva_align{
		
}
.read_forward {
	cursor: pointer;
	font-weight: bold;
	color: blue;
    }
.container {
	display:none;
}
.map{
	float: right;
}
@media all and (max-width: 600px){

.flex_parent{
    
	flex-direction: column;
	flex-wrap: nowrap;
}

.flex_child{
	
	flex-basis: 100%;
}
}
.greater_flex_parent{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 70px;
	
}




/* Media */
