@import url(reset.css);

body{
	background: #fff;
	background-size: cover;
    font-size: 1.2em; 
    font-family: 'Philosopher', Arial, sans-serif;
}

img{
  max-width: 100%;
}

.clear {
	clear: both;
}



header {
	background: rgba(1, 97, 187, 0.9);
    text-shadow: 1px 1px 2px #000;
}

.menu {
	display: block;
	float: right;
	margin-top: 10px;
	padding: 25px 20px 0 0;
}
		
.menu>ul>li {
		display: inline-block;
}

.menu>ul>li>a {
	border: 2px solid rgba(255, 255, 255, 0.33);
	border-radius: 15px;
	font-size: 0.8em;
	text-decoration: none;
	padding: 5px 20px;
	display: block;
	color: #fff;
}

.menu>ul>li>a:hover {
    color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 15px;
}
.dbg {
	background:rgba(40, 76, 88, 0.498039);
}

.logo {
	float: left;
	padding-left: 15px;
	width: 154px;
    height: 115px;
}

/* Wrapper */



/* Main content */
.main{
	margin: 0 auto;
	max-width: 1260px;
	background: #fff;
}
.content {
	float: left;
	width: 65%;
}
article{
	border-bottom: 2px solid;
}
.velosport{
	border-bottom: none;
}
h1 {
	font-size: 2em;
	font-weight: normal;
	text-align: center;
	margin: 40px 0;
	line-height: 1.1em;
	color: #6C615E;
	border-bottom: 2px solid;
	padding-bottom: 20px;
}
article header {
	font-size: 0;
	background: none;
	margin-bottom: 10px;
}
article h2 {
	margin: 25px 0 30px 20px;
	font-size: 1.5em;
	color: #6C615E;
	text-transform: uppercase;
	

}
article p {
	    text-align: justify;
		margin-bottom: 10px;
		
}

article img {
	margin: 10px;
	border-radius: 10%;
}
.foto1{
	float: left;
}
.foto2{
	float: right;
}
aside {
	float: right;
	width: 30%;	
}

.category>ul>li{
		margin-bottom: 10px;
}

.category>ul>li>a {
		color: #6C615E;
		text-decoration: none;
		
}

.widget {
		margin-bottom: 75px;
}
	
.widget>h2 {
		text-transform: uppercase;
		padding: 10px 20px;
		text-decoration: underline;
		margin-bottom: 20px;		
}
	
.search {
		color: #b9b9b9;
		font-size: 0.75em;
		border: 1px solid #e1e0e0;
		padding: 10px 15px;
}

.widget>nav {
		margin-left: 18px;
}


.widget>img {
	margin-bottom: 10px;
}

.name, .surname, .email, {
	color: #b9b9b9;
	font-size: 0.75em;
	border: 1px solid #e1e0e0;
}

input[type="text"], 
input[type="email"] {
	   padding: 10px 15px;
	   margin-bottom: 10px;
	   font-size: 0.75em;
}
   
   input[type="button"] {
		color: #6C615E;
		font-size: 0.75em;
}
footer {
	border-top: 2px solid #6C615E;
	border-bottom: 3px solid #6C615E;
	clear: both;
}

footer>ul>li {
	display: inline-block;
	margin-left: 20px;	
}

.footer {
	background: #F0F6FC;
	height: 100px;
	background: #fff;
	color: #000;
}

.social {
	padding-top: 30px;
	float: left;
	margin-left: 30px;
}

.team {
	float: right;
	padding: 50px 65px 0 0;
	color: #6C615E;
	font-size: 1em;		
}

.team>a {
	color: #6C615E;
	display: inline-block;
	padding: 0;
	text-decoration: none;
}








/* Media */
